name: Pearls 72H Model Retraining

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install pymongo lightgbm scikit-learn pandas numpy xgboost matplotlib seaborn

      - name: Run retraining script
        env:
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
          FEATURE_DB: ${{ secrets.MONGODB_DB }}
          FEATURE_COL: ${{ secrets.MONGODB_COLLECTION }}
          MODEL_DB: ${{ secrets.MODEL_DB }}
          MODEL_COL: ${{ secrets.MODEL_COL }}
        run: python model_retraining.py
